# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# VS Code
.vscode/

# Results dicrectory

# Ignore generated results folders 
results/GA/*
results/NSGA2/*

# Keep the directories
!results/GA/.gitkeep
!results/NSGA2/.gitkeep